<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/blokk/blokk.css'>
  <link rel="stylesheet" href="../css/movieList.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>

// const scrollport = document.getElementById("view");
// scrollport.addEventListener("click", ()=>{
//       movie_card.classList.remove("hidden");
//     })
    function getApiMovie(id) {
      // Envoyer une requête vers l'API /movies//:63988435e5
      fetch('/movies/:' + id)
        .then(function (response) {
          return response.json();;
        })
        .then(function (resultJson) {
          console.log(resultJson[0].Director);
          // const Director = document.getElementById("Director");
          // Director.innerText = "Director: " + resultJson[0].Director

          const Runtime = document.getElementById("Runtime");
          Runtime.innerText =  resultJson[0].Runtime

          const Genre = document.getElementById("Genre");
          Genre.innerText =   resultJson[0].Genre

          const Overview = document.getElementById("Overview");
          Overview.innerText = resultJson[0].Overview;

          const del=document.getElementById("delete");
          del.innerHTML = `<div><a href="javascript:deleteApiMovie('${resultJson[0]._id}')"><i class="fa-solid fa-trash"></i></a></div>`;;
          
          const edit=document.getElementById("edit");
          edit.innerHTML = `<div><a href="/edit/:${resultJson[0]._id}"><i class="fa-solid fa-pen-to-square"></i></a></div>`;;
          
          const Released_Year= document.getElementById("Released_Year");
          Released_Year.innerText=resultJson[0].Released_Year;
          
          const IMDB_Rating= document.getElementById("IMDB_Rating");
          IMDB_Rating.innerText= resultJson[0].IMDB_Rating;
      

          const Series_Title = document.getElementById("Series_Title");
          Series_Title.innerText = resultJson[0].Series_Title;

          const Title = document.getElementById("Title");
          Title.innerText = resultJson[0].Series_Title;


           const Poster_Link =document.getElementById("Poster_Link");
           console.log(Poster_Link);
           Poster_Link.innerText=resultJson[0].Poster_Link;
           
          
          })
        .catch(function (err) {
          console.log("Something went wrong!", err);
        });
   
    }

    function deleteApiMovie(id){
          if (confirm("Are you sure?")){fetch('/movies/:'+ id, { method: 'DELETE' })
            .then(function (response) {
              alert("items delete");
              window.document.location="/movies";
              console.log(response); //affichera le 'deleted' du app.delete
              })
            .catch(function (err) {
              console.log("Something went wrong!", err);
            }); }
        }
  </script>

</head>

<body>

 <section>
  <h1>
  <span class="word">ALL<span class="superscript">s</span> </span>
  <span class="word">Movies</span>
</h1>
</section> 


  <section class="scrollport" id="scrollport">
    <%for(let i=0; i < result.length; i++){ %>
      <div class="img" >
        <p> <img src="<%= result[i].Poster_Link %>" alt=""></a></p>
        <!-- <a href="/movies/:<%=result[i]._id %>"><p><%=result[i].Series_Title%> </p></a> -->
        <a id="view" href="javascript:getApiMovie('<%=result[i]._id %>')">
          <p>
            <%=result[i].Series_Title%>
          </p>
        </a>
      </div>
      <% } %>

  </section>

  <div class="view">
<div><a class="fleche" href="/movies?start=1"><i class="fa-solid fa-backward"></i></a></div>
<div><a class="fleche" href="/movies?start=<%= prev  %>"><i class="fa-solid fa-backward-step"></i></a></div>
<div><a class="fleche" href="/form.html"><i class="fa-solid fa-circle-plus"></i></a></div>
<div><a class="fleche" href="/movies?start=<%= next %>"><i class="fa-solid fa-forward-step"></i></a></div>
<div><a class="fleche" href="/movies?start=<%= maxIndex %>"><i class="fa-solid fa-forward"></i></a></div>
   
  </div>


  <!-- <section class="Informations">
<div>
  id = "Released_Year"
  id="IMDB_Rating"
    <p id="Director"></p>
    <p id="Runtime"></p>
    <p id="Genre"></p>
    <p ></p>
    <p id="delete"></a></p>
</div>
  </section> -->

  <div class="container " >
    <div class="movie_card hidden">
      <div class="movie_img"><img id="Poster_Link" src="" alt="" >
      </div>
  
     <div class="bg-text"><p id="Series_Title"></p></div>
      <div class="movie">
        <div class="movie_rating"><p id="IMDB_Rating"></p><i>/ </i> <p>10</p> <span>IMDb</span></div>
       <div class="movie_title" ><p id="Title"></p></div>
          
        <div class="movie_info">
          <i class="far fa-clock"><span id="Runtime"></span></i>
          <span id="Genre"><i class="fas fa-film" ></i></span>
          <span  id="Released_Year"><i class="far fa-calendar"></i></span>
        </div>
  
        <div class="movie_text">
          <p id="Overview">
          </p>
          <div class="movie_link">
            <p id="delete"></p>
            <p id="edit"></p>
          </div>
         </div>
       </div>
     </div>
  </div>
</div>
</body>

</html>